
//    Font Family

@import url(/css/webfonts/nunito/nunito.css);
$primary-font	: 'Nunito' !default;;

/*--------------------------- Color variations ----------------------*/
$vatger-blue: #2b3089; // R 43 G 48 B 137
$vatger-gray: #b9b8b8; // R 185 G 184 B 184
$vatger-red: #e63329; // R 230 G 51 B 41
$vatger-yellow: #ffd000; // R 255 G 208 B 0

$primary-color	: $vatger-blue;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #222;






